In [1]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook

In [2]:
caminho_pai = "planilhas/tabela_cliente.xlsx"

In [16]:
df = pd.DataFrame(pd.read_excel(caminho_pai))

df_placas = pd.DataFrame(pd.read_excel("planilhas/placas.xlsx"))

In [6]:
df

,CÓDIGO,NOME,CPF,RG,CONTA CONTRATO,ENDEREÇO,CEP,MUNICÍPIO,UF,RAMO DE ATIVIDADE,CLASSE,TIPO DE LIGAÇÃO,DISJUNTOR DE ENTRADA,TIPO DE RAMAL,ENQUADRAMENTO,X,Y,PAINEL,INVERSOR
0,25,JOSYNELMA ROCHA SANTANA,88412385349,37369938,3013136814,"R. NOVA, 21, RES TUPINAMBA, TURU",65066350,SÃO LUÍS,MA,RESIDENCIAL,RESIDENCIAL,MONOFÁSICO,40,AÉREO,INDIVIDUAL,-2.523146,-44.223851,NaN,NaN
1,53,MARIA DE LOURDES RABELO FREITAS,25371118349,577733620156,3008249643,"AV GLEYDSON LUCAS , S/N , PQ JAIR",65110000,SÃO JOSÉ DE RIBAMAR,MA,RESIDENCIAL,RESIDENCIAL,MONOFÁSICO,40,AÉREO,INDIVIDUAL,-2.512790,-44.184868,NaN,NaN
2,67,MARCIO ANTONIO OLIVEIRA DE SOUSA,85676969334,190374942,2717760,"R. 8, 55, QD 11, COHATRAC V",65110000,SÃO JOSÉ DE RIBAMAR,MA,RESIDENCIAL,RESIDENCIAL,MONOFÁSICO,63,AÉREO,INDIVIDUAL,-2.545380,-44.206670,NaN,NaN
3,68,MARLUCIA DA COSTA,23758376300,673481,3011297888,"R. FAZENDA , 01 , CHACARA NOSSA SENHORA",65800000,BALSAS,MA,RESIDENCIAL,RESIDENCIAL,MONOFÁSICO,63,AÉREO,AUTOCONSUMO REMOTO,-7.569110,-46.232780,LEAPTON MONO 550,ASW7300-S
4,69,ANISIO BERNARDO ALMEIDA NETO,7490054320,266272920039,3016955360,"R. Quatro, 22, Cohatrac IV",65054630,SÃO LUÍS,MA,RESIDENCIAL,RESIDENCIAL,MONOFÁSICO,63,AÉREO,AUTOCONSUMO REMOTO,-2.536256,-44.210288,LEAPTON MONO 550,ASW5000-S

In [7]:
cod = 69

In [8]:
df = df.astype('object')

In [9]:
df_filtrado = df[(df['CÓDIGO']==cod)]

In [10]:
df_filtrado

,CÓDIGO,NOME,CPF,RG,CONTA CONTRATO,ENDEREÇO,CEP,MUNICÍPIO,UF,RAMO DE ATIVIDADE,CLASSE,TIPO DE LIGAÇÃO,DISJUNTOR DE ENTRADA,TIPO DE RAMAL,ENQUADRAMENTO,X,Y,PAINEL,INVERSOR
4,69,ANISIO BERNARDO ALMEIDA NETO,7490054320,266272920039,3016955360,"R. Quatro, 22, Cohatrac IV",65054630,SÃO LUÍS,MA,RESIDENCIAL,RESIDENCIAL,MONOFÁSICO,63,AÉREO,AUTOCONSUMO REMOTO,-2.536256,-44.210288,LEAPTON MONO 550,ASW5000-S

In [11]:
dict1 = df_filtrado.to_dict(orient='index')

for i in dict1:
    a = i

dict1 = dict1.get(i)

In [12]:
dict1

{'CÓDIGO': 69,
 'NOME': 'ANISIO BERNARDO ALMEIDA NETO',
 'CPF': 7490054320,
 'RG': 266272920039,
 'CONTA CONTRATO': 3016955360,
 'ENDEREÇO': 'R. Quatro, 22, Cohatrac IV',
 'CEP': 65054630,
 'MUNICÍPIO': 'SÃO LUÍS',
 'UF': 'MA',
 'RAMO DE ATIVIDADE': 'RESIDENCIAL',
 'CLASSE': 'RESIDENCIAL',
 'TIPO DE LIGAÇÃO': 'MONOFÁSICO',
 'DISJUNTOR DE ENTRADA': 63,
 'TIPO DE RAMAL': 'AÉREO',
 'ENQUADRAMENTO': 'AUTOCONSUMO REMOTO',
 'X': -2.536256,
 'Y': -44.210288,
 'PAINEL': 'LEAPTON MONO 550',
 'INVERSOR': 'ASW5000-S'}

dict1['CPF'] = str(dict1['CPF'])
dict1['RG'] = str(dict1['CPF'])
dict1['CONTA CONTRATO'] = str(dict1['CPF'])
dict1['CEP'] = str(dict1['CPF'])
dict1['CPF'] = str(dict1['CPF'])
dict1['CPF'] = str(dict1['CPF'])

In [13]:
for key in dict1:
        if isinstance(dict1[key], str) == False:
            dict1[key] = str(dict1[key])

#dict1['CÓDIGO'] = int(dict1['CÓDIGO'])

In [14]:
dict1

{'CÓDIGO': '69',
 'NOME': 'ANISIO BERNARDO ALMEIDA NETO',
 'CPF': '7490054320',
 'RG': '266272920039',
 'CONTA CONTRATO': '3016955360',
 'ENDEREÇO': 'R. Quatro, 22, Cohatrac IV',
 'CEP': '65054630',
 'MUNICÍPIO': 'SÃO LUÍS',
 'UF': 'MA',
 'RAMO DE ATIVIDADE': 'RESIDENCIAL',
 'CLASSE': 'RESIDENCIAL',
 'TIPO DE LIGAÇÃO': 'MONOFÁSICO',
 'DISJUNTOR DE ENTRADA': '63',
 'TIPO DE RAMAL': 'AÉREO',
 'ENQUADRAMENTO': 'AUTOCONSUMO REMOTO',
 'X': '-2.536256',
 'Y': '-44.210288',
 'PAINEL': 'LEAPTON MONO 550',
 'INVERSOR': 'ASW5000-S'}

In [ ]:
if dict1.get('PAINEL')

In [46]:
wb_path = "planilhas/relatorio_comissionamento.xlsx"
wb = load_workbook(wb_path)
ws = wb.active

In [50]:
ws['C6'] = dict1.get('NOME')
ws['O6'] = dict1.get('CONTA CONTRATO')
ws['C9'] = dict1.get('CEP')
ws['F9'] = dict1.get('MUNICÍPIO')
ws['C8'] = dict1.get('ENDEREÇO')

In [66]:
primeiro_nome = dict1.get('NOME').split(' ')[0].lower()

In [67]:
primeiro_nome

'josynelma'

In [52]:
wb.save(f'planilhas/RELATORIO_COMISSIONAMENTO_{primeiro_nome}.xlsx')

In [73]:
wb.close()

In [74]:
wb_path = "planilhas/solicitacao_acesso.xlsx"
wb = load_workbook(wb_path)
ws = wb.active

In [55]:
ws['C10'] = dict1.get('NOME')
ws['P27'] = dict1.get('DISJUNTOR DE ENTRADA')
ws['F29'] = dict1.get('TIPO DE RAMAL')

In [56]:
wb.save(f'planilhas/SOLICITACAO_ACESSO_{primeiro_nome}.xlsx')

In [8]:
wb = load_workbook("planilhas/anexo_VI.xlsx")

IndexError: list index out of range