In [1]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook

In [15]:
df = pd.DataFrame(pd.read_excel("planilhas/tabela_cliente.xlsx"))
df_placas = pd.DataFrame(pd.read_excel("planilhas/placas.xlsx"))
df_inversores = pd.DataFrame(pd.read_excel("planilhas/inversores.xlsx"))

In [16]:
cod = 69
df = df.astype('object')
df_filtrado = df[(df['CÓDIGO']==cod)]

dict1 = df_filtrado.to_dict(orient='index')

for i in dict1:
    a = i

dict1 = dict1.get(i)


for key in dict1:
        if isinstance(dict1[key], str) == False:
            dict1[key] = str(dict1[key])
            
            
dict1['CÓDIGO'] = int(dict1['CÓDIGO'])

In [17]:
df_placas.head()

           NOME REF FABRICANTE             MODELO  POTÊNCIA (W)
0  Leapton Mono 550    LEAPTON  LP182*182-M-72-MH           550
1        Sunova 505     SUNOVA       SS-505-66MTF           505
2      Canadian 450   CANADIAN         CS3W 450MS           450
3        Longi 435       LONGI          LR4-72HPH           435
4         Longi 440      LONGI          LR4-72HPH           440

In [24]:
df_placas[df_placas['NOME REF'] == 'Leapton Mono 550']

           NOME REF FABRICANTE             MODELO  POTÊNCIA (W)
0  Leapton Mono 550    LEAPTON  LP182*182-M-72-MH           550

In [21]:
dict2 = df_placas.to_dict(orient='index')
for i in dict2:
    a = i

dict2 = dict2.get(i)

In [22]:
dict2

{'NOME REF': 'Jinko 335 Poli',
 'FABRICANTE': 'JINKO',
 'MODELO': 'JKM335PP-72H-V ',
 'POTÊNCIA (W)': 335}