In [1]:
import pandas as pd
import numpy as np
from openpyxl import load_workbook

In [140]:
caminho_pai = "planilhas/tabela_cliente.xlsx"

In [149]:
df = pd.DataFrame(pd.read_excel(caminho_pai))

In [154]:
df

,CÓDIGO,NOME,CPF,RG,CONTA CONTRATO,ENDEREÇO,CEP,MUNICÍPIO,UF,RAMO DE ATIVIDADE,CLASSE,TIPO DE LIGAÇÃO,DISJUNTOR DE ENTRADA,TIPO DE RAMAL,ENQUADRAMENTO,X,Y
0,25,JOSYNELMA ROCHA SANTANA,88412385349,37369938,3013136814,"R. NOVA, 21, RES TUPINAMBA, TURU",65066350,SÃO LUÍS,MA,RESIDENCIAL,RESIDENCIAL,MONOFÁSICO,40,AÉREO,INDIVIDUAL,-2.523146,-44.223851
1,53,MARIA DE LOURDES RABELO FREITAS,25371118349,577733620156,3008249643,"AV GLEYDSON LUCAS , S/N , PQ JAIR",65110000,SÃO JOSÉ DE RIBAMAR,MA,RESIDENCIAL,RESIDENCIAL,MONOFÁSICO,40,AÉREO,INDIVIDUAL,-2.51279,-44.184868
2,67,MARCIO ANTONIO OLIVEIRA DE SOUSA,85676969334,190374942,2717760,"R. 8, 55, QD 11, COHATRAC V",65110000,SÃO JOSÉ DE RIBAMAR,MA,RESIDENCIAL,RESIDENCIAL,MONOFÁSICO,40,AÉREO,INDIVIDUAL,-2.54538,-44.20667

In [156]:
cod = 67

In [157]:
df = df.astype('object')

In [158]:
df_filtrado = df[(df['CÓDIGO']==cod)]

In [159]:
df_filtrado

,CÓDIGO,NOME,CPF,RG,CONTA CONTRATO,ENDEREÇO,CEP,MUNICÍPIO,UF,RAMO DE ATIVIDADE,CLASSE,TIPO DE LIGAÇÃO,DISJUNTOR DE ENTRADA,TIPO DE RAMAL,ENQUADRAMENTO,X,Y
2,67,MARCIO ANTONIO OLIVEIRA DE SOUSA,85676969334,190374942,2717760,"R. 8, 55, QD 11, COHATRAC V",65110000,SÃO JOSÉ DE RIBAMAR,MA,RESIDENCIAL,RESIDENCIAL,MONOFÁSICO,40,AÉREO,INDIVIDUAL,-2.54538,-44.20667

In [168]:
dict1 = df_filtrado.to_dict(orient='index')

for i in dict1:
    a = i

dict1 = dict1.get(i)

In [169]:
dict1

{'CÓDIGO': 67,
 'NOME': 'MARCIO ANTONIO OLIVEIRA DE SOUSA ',
 'CPF': 85676969334,
 'RG': 190374942,
 'CONTA CONTRATO': 2717760,
 'ENDEREÇO': 'R. 8, 55, QD 11, COHATRAC V',
 'CEP': 65110000,
 'MUNICÍPIO': 'SÃO JOSÉ DE RIBAMAR',
 'UF': 'MA',
 'RAMO DE ATIVIDADE': 'RESIDENCIAL',
 'CLASSE': 'RESIDENCIAL',
 'TIPO DE LIGAÇÃO': 'MONOFÁSICO',
 'DISJUNTOR DE ENTRADA': 40,
 'TIPO DE RAMAL': 'AÉREO',
 'ENQUADRAMENTO': 'INDIVIDUAL',
 'X': -2.54538,
 'Y': -44.20667}

dict1['CPF'] = str(dict1['CPF'])
dict1['RG'] = str(dict1['CPF'])
dict1['CONTA CONTRATO'] = str(dict1['CPF'])
dict1['CEP'] = str(dict1['CPF'])
dict1['CPF'] = str(dict1['CPF'])
dict1['CPF'] = str(dict1['CPF'])

In [133]:
for key in dict1:
        if isinstance(dict1[key], str) == False:
            dict1[key] = str(dict1[key])

#dict1['CÓDIGO'] = int(dict1['CÓDIGO'])

In [134]:
dict1

{'CÓDIGO': '25',
 'NOME': 'JOSYNELMA ROCHA SANTANA',
 'CPF': '88412385349',
 'RG': '37369938',
 'CONTA CONTRATO': '3013136814',
 'ENDEREÇO': 'R. NOVA, 21, RES TUPINAMBA, TURU',
 'CEP': '65066350',
 'MUNICÍPIO': 'SÃO LUÍS',
 'UF': 'MA',
 'RAMO DE ATIVIDADE': 'RESIDENCIAL',
 'CLASSE': 'RESIDENCIAL',
 'TIPO DE LIGAÇÃO': 'MONOFÁSICO',
 'DISJUNTOR DE ENTRADA': '40',
 'TIPO DE RAMAL': 'AÉREO',
 'ENQUADRAMENTO': 'INDIVIDUAL',
 'X': '-2.523146',
 'Y': '-44.223851'}

In [72]:
','.join(dict1.get('ENDEREÇO').split(',')[0:-1])

'R. NOVA, 21, RES TUPINAMBA'

In [46]:
wb_path = "planilhas/relatorio_comissionamento.xlsx"
wb = load_workbook(wb_path)
ws = wb.active

In [50]:
ws['C6'] = dict1.get('NOME')
ws['O6'] = dict1.get('CONTA CONTRATO')
ws['C9'] = dict1.get('CEP')
ws['F9'] = dict1.get('MUNICÍPIO')
ws['C8'] = dict1.get('ENDEREÇO')

In [66]:
primeiro_nome = dict1.get('NOME').split(' ')[0].lower()

In [67]:
primeiro_nome

'josynelma'

In [52]:
wb.save(f'planilhas/RELATORIO_COMISSIONAMENTO_{primeiro_nome}.xlsx')

In [73]:
wb.close()

In [74]:
wb_path = "planilhas/solicitacao_acesso.xlsx"
wb = load_workbook(wb_path)
ws = wb.active

In [55]:
ws['C10'] = dict1.get('NOME')
ws['P27'] = dict1.get('DISJUNTOR DE ENTRADA')
ws['F29'] = dict1.get('TIPO DE RAMAL')

In [56]:
wb.save(f'planilhas/SOLICITACAO_ACESSO_{primeiro_nome}.xlsx')